html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.esparta {
  border: 3px solid red;

  background: #f8fffd;
  transition: background 2s; /* For Safari 3.1 to 6.0 */

  /*
  animation-duration: 1s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  */

  &:hover {
    background: #0baa08;
  }

  .espartano {
    font-size: 40px;
    text-align: center;

    .warrior {
      display: block;
    }
  }
}

@keyframes changewidth {
  100% {
    transform: rotate(360deg);
  }
}

.challenge-accepted {
  background: url('../images/challenge-accepted.jpg') center no-repeat;
  background-size: cover;
  width: 300px;
  height: 280px;
}

$base-color: #000;

.box1 {
  background: $base-color
}

.box2 {
  background: lighten($base-color, 5%)
}

.box3 {
  background: lighten($base-color, 15%)
}

.box4 {
  background: lighten($base-color, 25%)
}

.box5 {
  background: lighten($base-color, 35%)
}

.box6 {
  background: lighten($base-color, 45%)
}

.box7 {
  background: lighten($base-color, 55%)
}

.box8 {
  background: lighten($base-color, 65%)
}

.box9 {
  background: lighten($base-color, 70%)
}

.box10 {
  background: lighten($base-color, 75%)
}

.box {
  color: white;
  font-size: 100px;
  text-align: center;
  padding: 5px;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  flex-basis: 200px;
}

.container-box {
  display: flex;
  border: 5px solid red;
  flex-wrap: wrap;
  height: 100vh;
  flex-direction: column;
}

.box7 {
  flex-grow: 5;
}

.box img {
  display: none;
}

a {
  display: inline-block;
  text-align: center;
  transition: all 0.3s;
  width: 100%;
  padding: 20px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: "Helvetica";
  color: white;
  background: rgba(41, 41, 41, 0.6);
}

a:hover {
  background: rgba(18, 18, 58, 0.35);
  text-decoration: none;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px;
}

.flex-nav ul {
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-nav li {
  flex: 3;
}

.flex-nav .social {
  flex: 1;
}

img {
  width: 80%;
}

.with-border {
  border: 10px solid rgba(255, 255, 255, 0.4);
  box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.4);
}

.toggle-nav {
  display: none;
}

header {
  text-align: center;
  color: white;
  font-family: "Courier New";
}

section, footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  font-weight: 200;
  padding: 20px;
}

@media all and (max-width: 850px) {
  .flex-nav ul {
    flex-wrap: wrap;
  }

  .flex-nav li {
    flex: 1 1 50%;
  }

  .flex-nav .social {
    flex: 1 1 25%;
  }

  .container-navigation img {
    border: 5px solid rgba(255, 255, 255, 0.4);
  }
}

@media all and (max-width: 500px) {

  .flex-nav li {
    flex-basis: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .wrapper > * {
    order: 999;
  }

  .flex-nav {
    order: 1;
  }

  .toggle-nav {
    display: block;
  }

  .flex-nav ul {
    display: none;
  }

  .flex-nav ul.open {
    display: flex;

  }

}