.esparta {
  border: 3px solid red;

  background: #f8fffd;
  transition: background 2s; /* For Safari 3.1 to 6.0 */

  /*
  animation-duration: 1s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  */

  &:hover {
    background: #0baa08;
  }

  .espartano {
    font-size: 40px;
    text-align: center;

    .warrior {
      display: block;
    }
  }
}

@keyframes changewidth {
  100% {
    transform: rotate(360deg);
  }
}

.challenge-accepted {
  background: url('../images/challenge-accepted.jpg') center no-repeat;
  background-size: cover;
  width: 300px;
  height: 280px;
}

$base-color: #000;

.box1 {
  background: $base-color
}

.box2 {
  background: lighten($base-color, 5%)
}

.box3 {
  background: lighten($base-color, 15%)
}

.box4 {
  background: lighten($base-color, 25%)
}

.box5 {
  background: lighten($base-color, 35%)
}

.box6 {
  background: lighten($base-color, 45%)
}

.box7 {
  background: lighten($base-color, 55%)
}

.box8 {
  background: lighten($base-color, 65%)
}

.box9 {
  background: lighten($base-color, 70%)
}

.box10 {
  background: lighten($base-color, 75%)
}

.box {
  color: white;
  font-size: 100px;
  text-align: center;
  padding: 5px;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  flex-basis: 200px;
}

.container-box {
  display: flex;
  border: 5px solid red;
  flex-wrap: wrap;
  height: 100vh;
  flex-direction: column;
}

.box7 {
  flex-grow: 5;
}

.box img {
  display: none;
}